* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bricks {
    display: flex;
    flex-wrap: wrap;
}
.brick {
    flex-basis: 100px;
    background-color: brown;
    border: 3px solid hsl(0, 0%, 66%);
    min-height: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #0887b5;
}
.bricks:nth-child(2) {
    flex-wrap: wrap-reverse;
}